.card {
    border: solid 1px #212121;
    background-color: #181818;
    margin: 20px;
    padding: 16px;
    width: 240px;
    text-align: center;
    border-radius: 10px;
    transition: ease 0.5s;
  }
  
  .card:hover {
    background-color: #282828;
  }
  
  .playlist-title {
    margin-top: 10px;
    margin-bottom: 0px;
    font-size: 16px;
    font-weight: bold;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: white;
  }
  
  .playlist-singer {
    margin-top: 4px;
    margin-bottom: 0px;
    font-size: 12px;
    color: white;
  }
  
  .playlist-button {
    background-color: #1CCA5C;
    color: black;
    border: none;
    padding: 10px 16px;
    font-size: 12px;
    font-weight: bold;
    border-radius: 12px;
    cursor: pointer;
    margin-top: 10px;
  }
  