.appbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #181818;
}

.appbar button {
    background-color: #181818;
    color: #1CCA5C;
    border: none;
    padding: 10px 16px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 12px;
    cursor: pointer;
}

.appbar button:hover {
    background-color: #282828;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}